{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{template "title" .}} - codesnippet</title>
    <link href="../static/css/output.css" rel="stylesheet">
</head>
<body>
    <header class="py-4 px-8 border-b font-medium flex justify-between">
        <h1>
            <a class="text-xl font-bold no-underline text-black" href="/">code<span class="text-blue-500">snip</span>it</a>
        </h1>
        {{template "nav" .}}
    </header>
    <main class="flex flex-row min-h-screen justify-center items-center">
        {{template "main" .}}
    </main>
    <footer class="py-4 px-8 border-t font-medium">
        <div class="text-center">Powered by <span class=" text-cyan-400"> Go </span> and <span class=" text-blue-500"> TailwindCSS </span></div>
    </footer>
</body>
</html>
{{end}}